:root {
    --black: avenirBlack;
    --heavy: avenirHeavy;
    --regular: avenirRegular;
    --light: avenirBook;
}



.all-tracks {
    height: 14rem;
    overflow-y: hidden;
    overflow-x: scroll;
    display: inline-flex;
    width: 100%;
}

.track-group {
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 10rem;
    grid-template-rows: 10rem 1rem 1rem ;
    font-family: var(--regular);
    margin: .6rem .8rem 0 0;
}

.track-group img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    display: inline-block;
}

.track-group b {
    grid-column: 1;
    grid-row: 2;
    font-size: 0.8rem;
    margin: 0px
}

.track-group p {
    grid-column: 1;
    grid-row: 3;
    font-size: 0.8rem;
    margin: 0px
}

.all-playlists {
    height: 13rem;
    overflow-y: hidden;
    overflow-x: scroll;
    display: inline-flex;
    width: 100%;
}

.playlist-group {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 10rem;
    grid-template-rows: 10rem 1rem;
    font-family: var(--regular);
    margin: .6rem .8rem 0 0;
}

.playlist-group img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    display: inline-block;
}

.playlist-group p {
    grid-column: 1;
    grid-row: 2;
    font-size: 0.8rem;
    margin: 0px
}

button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .7s ease-in-out;
}

#queue {
    display: none;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 30%;
    height: 100%;
    z-index: 1000;
    background-color: purple;
    overflow-y: hidden;
}

body:has(input[type="checkbox"]:checked) > #queue {

    display: block;
}

.queueRecentlyPlayedContent {
    height: 95vh;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

#queue:has(label:nth-of-type(1) input[type="radio"]:checked) > #queueContent {
    display: block;
}

#recentlyPlayedContent {
    display: none;
}

#queue:has(label:nth-of-type(2) input[type="radio"]:checked) > #recentlyPlayedContent {
    display: block;
}
/* 
.queuePictures {
    width: 40%;
} */

.queue-group {
    background-color: brown;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 45%;
    font-family: var(--regular);
    margin: .6rem 0 .6rem 0;
}

.queue-group img {
    grid-column: 1;
    grid-row: span 2;
    width: 100%;
    display: inline-block;
}

.queue-group b {
    grid-column: 2;
    grid-row: 1;
    font-size: .8rem;
    margin: 0px;
}

.queue-group p {
    grid-column: 2;
    grid-row: 2;
    font-size: .8rem;
    margin: 0px
}



